@import url('https://fonts.googleapis.com/css2?family=Amiri&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Amiri+Quran&family=Gulzar&family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600&family=Noto+Nastaliq+Urdu:wght@500&display=swap');

body{
    font-family: 'Amiri', serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
    direction: rtl;
}

header{
    position: relative;
    z-index: 100;
    width: 300px;
    margin-right: 140px ;
}
header .links a{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px;
}
/* css slider */
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 10%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    right: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 11;
}

.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.list2{
    position: absolute;
    bottom: 10px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.list2 .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.list2 .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.list2 .item:hover{
    filter: brightness(1);
}
.list2 .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
    text-align: center;
}
.list2 .item .content a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

